
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">新規サイト登録
                    <!-- <small>Secondary Text</small> -->
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-13">
                <h3>登録したいサイトのRSSフィードURLを入力してください。</h3>
                <div class="topic-form">サイト名
                  <div><input class="form-topicnew", type="text"></div>
                </div>
                <div class="topic-form">RSSフィードURL
                    <div><input class="form-topicnew", type="text"></div>
                </div>
                    <div class="tags">
                        <a class="btn btn-primary" href="#">タグ登録<span class="glyphicon"></span></a>
                        <div class="www">タグ:<select></select></div>
                    </div>
                <a class="btn btn-primary" href="#">登録<span class="glyphicon"></span></a>
            </div>
        </div>

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
